body{
    margin: 0; 
    color: white;
    background-color: rgb(223, 255, 254);
}

h1{
    font-size: 50px;
    font-family: monospace;
    background-color: chocolate;
}

.result{
    font-size: larger;
    font-style: italic;
}

button{
    height: fit-content;
    font-size: larger;
    color: blue;
    background-color: rgb(34, 255, 0);
}